DEEPLITE_MODEL=openai:gpt-6-luna
OPENAI_API_KEY=
EXA_API_KEY=
LANGSMITH_OTLP_TRACES_ENDPOINT=https://api.smith.langchain.com/otel/v1/traces
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=deeplite
LITELLM_OTLP_TRACES_ENDPOINT=http://localhost:4000/v1/traces
LITELLM_API_KEY=
